{% extends 'base.html' %}


{% block title %}
    Register Page
{% endblock title%}

{% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href={{ url_for('index') }}>Home</a>
</li>
<li class="nav-item">
        <a class="nav-link" href={{ url_for('login') }}>Login</a>
    </li>
<!-- <li class="nav-item">
    <a class="nav-link" href="#">Register</a>
</li> -->
{% endblock nav_items %}

{% block content %}

<div class="centered-content" style="text-align: center;">
    <h2 style="margin-top: 1rem;">Register Yourself with Admate Today!</h2>
    <h5 style = "margin-top: 3rem;">Choose your role to get started!</h5>

    <form action="/first_page_registration" class="form" style="margin-top: 1rem;" method="post">
        
        <div class="form-check form-switch" style="display: flex; justify-content: center;margin-right: 0.7rem;">
            <input class="form-check-input" type="radio" name='role' value="sponsor" id="sponsor" onclick="toggleRadio(this);">
            <label class="form-check-label" for="sponsor" style="margin-left: 1rem;">Sponsor</label>
        </div>
        <div class="form-check form-switch" style="display: flex; justify-content: center;">
            <input class="form-check-input" type="radio" name='role' id="influencer" value="influencer" onclick="toggleRadio(this);">
            <label class="form-check-label" for="influencer" style="margin-left: 1rem">Influencer</label>
        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
        
    </form>
</div>
{% endblock content%}


{% block search %}
{% endblock search%}
```here name is taken care of disabled functionality by working with radio buttons. As it forms a group, only one radio button can be selected at a time. The user can select the role by clicking on the radio button and then click on the Register button to proceed. The form is submitted to the /register route using the POST method.``` 