{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock title%}
{% block content %}

<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .form {
        width: 10%; /* Adjust based on your preference */
        max-width: 500px; /* Adjust based on your preference */
    }
    
</style>

<script>
    // Function to toggle the radio button's checked state
    function toggleRadio(radio) {
        // Check if the radio was already checked before this click
        if (radio.getAttribute("data-waschecked") === "true") {
            radio.checked = false; // Uncheck it
            radio.setAttribute("data-waschecked", "false");
        } else {
            // Mark all radios as not checked
            var allRadios = document.getElementsByName(radio.name);
            for (var i = 0; i < allRadios.length; i++) {
                allRadios[i].setAttribute("data-waschecked", "false");
            }
            // This radio is now checked
            radio.setAttribute("data-waschecked", "true");
        }
    }
</script>

<div class="centered-content">
    <h2>Register Yourself with Admate Today!</h2>
    <p style="margin-top: 1rem;">Choose your role to get started</p>

    <form action="/first_page_registration" class="form" style="margin-top: 1rem;" method="post">
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="radio" name='role' value="sponsor" id="sponsor" onclick="toggleRadio(this);">
            <label class="form-check-label" for="sponsor" >Sponsor</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="radio" name='role' id="influencer" value="sponsor" onclick="toggleRadio(this);">
            <label class="form-check-label" for="influencer">Influencer</label>
        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
        
    </form>
</div>
{% endblock content%}


{% block search %}
{% endblock search%}
```here name is taken care of disabled functionality by working with radio buttons. As it forms a group, only one radio button can be selected at a time. The user can select the role by clicking on the radio button and then click on the Register button to proceed. The form is submitted to the /register route using the POST method.``` 