{% extends 'nav_link.html' %}

{% block title %}
   Flagged Campaign
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5">
    <h2 class="text-center mb-4">Flagged Campaign</h2>
    <form method="POST" action="{{ url_for('search_campaign')}}" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search flagged campaigns..." value="{{ request.args.get('search', '') }}">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <div class="row">
        {% for campaign in campaigns %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title text-center" style="text-transform: uppercase;" >{{ campaign.sponsor.company_name }}</h4>
                    <h4 class="card-title mt-2"><strong>Campaign:</strong> {{ campaign.name }}</h4>
                    <h6 class="card-title mt-2"><strong>Category: </strong>{{campaign.category.name}}</h6>
                    <h6 class="card-title mt-2"><strong>Niche:</strong> {{campaign.niche.name}}</h6>
                    <p class="card-text"><strong>Description:</strong> {{ campaign.description }}</p>
                    <p class="card-text"><strong>Start Date:</strong> {{ campaign.start_date }}</p>
                    <p class="card-text"><strong>End Date:</strong> {{ campaign.end_date }}</p>
                    <p class="card-text"><strong>Budget:</strong> {{ campaign.budget }}</p>
                    <form method="POST" action="{{ url_for('request_to_unflag_campaign', campaign_id=campaign.id) }}">
                        <a href="{{ url_for('profile_view_sponsor', user=campaign.user) }}" class="btn btn-primary mt-2" style="border-radius: 15px;">View Sponsor Profile</a>
                        <button type="submit" class="btn btn-danger mt-2" style="border-radius: 15px;">Unflag Request</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}