{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href={{ url_for('index') }}>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{ url_for('login') }}>Login</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={{ url_for('first_page_registration') }}>Register</a>
</li>
{% endblock nav_items %}

{% block main_content %}
<div class="forgot-password-container" style="margin-top: 2rem; padding: 3px;">
    <h2 class="text-center">Forgot Password!</h2>
    <div style="display: flex; justify-content: center;">
    <form action="/forgot_password" style="justify-content: center;" class="form" method="post">
        <div class="mt-4">
            <!-- <p>Enter your registered email to reset your password.</p> -->
            <input type="email" id="email" name="email" placeholder="email" style="border-radius: 15px; padding: 10px; width: 100%;">
        </div>
        <div class="mt-4 text-center">
            <button type="submit" class="btn btn-primary" style="border-radius: 15px; padding: 10px; width: 50%;"> Submit </button>
        </div>
    </form>
    </div>
</div>

{% endblock main_content %}
{% block search %}
{% endblock search %}