{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock title%}
{% block content %}

<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .form {
        width: 20%; /* Adjust based on your preference */
        max-width: 500px; /* Adjust based on your preference */
    }
    .form-group label{
        display: flex;
        margin-top: 1rem;
        min-width: 200px;
    }
    .form-group div{
        display: flex;
    }

</style>

<div class="centered-content">
    <h1 class>Let's get Started!</h1>

    <form action="/register" class="form" method="post">
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" required class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" required class="form-control">
        </div>
        <div class="form-group" style="margin-top: 2rem;">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock content%}

   
{% block main_content %}
{% endblock main_content %}

{% block nav_items %}
<!-- <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="#">Login</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="#">Register</a>
</li> -->
{% endblock nav_items %}

{% block search %}
{% endblock search %}
